.ComposerPreview-overlay {
  --composer-height: 800px;
  position: fixed;
  inset: 0;
  padding-bottom: var(--composer-height, 800px);
  background-color: var(--body-bg-faded);
  overflow: auto;
  z-index: 1001;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .ComposerPreview-container {
    width: 768px
  }
}

@media (min-width: 992px) and (max-width: 1099.98px) {
  .ComposerPreview-container {
    width: 992px
  }
}

@media (min-width: 1100px) {
  .ComposerPreview-container {
    width: 1100px
  }
}

.ComposerPreview-container {
  margin: 50px auto;

  .ComposerPreview-header {
    display: block;
    font-weight: bold;
    color: var(--muted-color);
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--control-bg);
  }

  .ComposerPreview-content .ComposerPreview-preview img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}